gym<0.26
envpool
jax-jumpy==1.0.0
matplotlib
moviepy
numpy<2.0
pandas
protobuf
pygame
stable-baselines3
tensordict-nightly
torchrl-nightly
tqdm
tyro
wandb
IPython
scikit-learn
opencv-contrib-python-headless
umap
umap-learn
kron-torch