gym==0.23.1
gymnasium==0.28.1
ale-py
autorom-accept-rom-license
autorom[accept-rom-license]
envpool
jax-jumpy==1.0.0
matplotlib
moviepy
numpy<2.0
pandas
protobuf
pygame
stable-baselines3
tensordict-nightly==2025.1.1
torchrl-nightly==2025.1.1
tqdm
tyro
wandb
IPython
scikit-learn
opencv-contrib-python-headless
umap
umap-learn
kron-torch